<nav>
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "My Blog", posts_path %>
    </li>
    <li>
      <%= link_to "Authors", authors_path %>
    </li>
    <%= Rails.env %>
  </ul>
</nav>